body{
  background-color: lightblue;
}
.kontejner {
  margin: auto;
  width: 50%;
}
.task-kontejner{
  display: flex;
  justify-content: stretch;
}
h1{
  text-align: center;
  size: 200px;
}
input{
  flex:1;
  margin: .5rem .5rem .5rem 0;
}
button{
  background-color: white;
  font-size: medium;
  border-radius: 10px;
}
.task{
  display: flex;
  background-color: white;
  padding:10px;
  font-size: medium;
  border-radius: 10px;
  border: 1px lightgray;
}
.kanta{
  background-color: rgb(237, 63, 63);
  padding:10px;
  font-size: medium;
  border-radius: 10px;
}
.task-options{
  width: fit-content;
  margin: .5rem;
}
input.color{
  height: 30px;
  width: 30px;
  margin: .5rem;
}
.checkbox{
  margin-left: .5em !important;
}